@model Order

@{
    ViewBag.Title = "cоздать заказ";
    Layout = "_Layout";
}

<h2>запаолните форму для создания заказа</h2>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" asp-controller = "Orders"    method="post"></form>
        <div class="form_row">
            <label for="">
                Имя покупателя
                <input asp-for="Name" type="text">
            </label>
            <label for="">
                Адерс поставки
                <input asp-for="Address" type="text">
            </label>
            <label for="">
                Номер телефона
                <input asp-for="ContactPhone" type="text">
            </label>
            <label for="">
                Найменование продукта
                <input asp-for="@Model.Phone.Name" type="text">
            </label>
        </div>
        <button type="submit">заказать</button>
    </div>
</div>